.ipynb_checkpoints/
assembler/__pycache__/
test/
*.png
*.prof
*.id
*.fastq
profiling/
resources/
.temp_files/
assembler.egg-info/*
assembler/old_path_reader.py
assembler/generate_gfa.py
assembler/check_gaf.py
assembler/verify_anchors_match.py
assembler/*.txt
resources/
bed_ranges/

*.tsv

build/*
assembler/snarl_tree_dict.*
dist/*
dockers/*
shasta2/*
.venv/*
