.ipynb_checkpoints/
assembler/__pycache__/
test/
*.png
*.txt
*.prof
*.id
*.fastq
profiling/
resources/
.temp_files/
assembler/old_path_reader.py
assembler/generate_gfa.py
assembler/check_gaf.py
resources/
bed_ranges/

