.ipynb_checkpoints/
assembler/__pycache__/
test/
*.png
*.txt
*.prof
*.id
*.fastq
profiling/
resources/
.temp_files/
assembler/old_path_reader.py
assembler/generate_gfa.py
assembler/check_gaf.py
assembler/verify_anchors_match.py
resources/
bed_ranges/

notebooks/LIBBDSG_TEST.ipynb

notebooks/PROTOTYPE_VG_ANCHORS.ipynb

*.gaf

notebooks/test.dist
notebooks/test.gfa
notebooks/test.vg

*.tsv

visualization/*
visualization/index.html
visualization/script.js
generate_layout.py
